body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b3e3f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 500px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form input[type="question"],
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.login-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form p {
    margin-top: 10px;
}

.login-form a {
    color: #4CAF50;
}

.social-icons p {

    font-weight: bold;
}

.social-icons a {
    display: inline-block;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.user-email {
    font-size: 15px !important;
}

.attribution {
    font-size: 10px;
    text-align: center;
}

.attribution a {
    color: hsl(241, 69%, 40%);
}